In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame(columns=['Real_age', 'Predict_age', 'LOSS'])

In [3]:
a

Empty DataFrame
Columns: [Real_age, Predict_age, LOSS]
Index: []

In [4]:
a.loc[0]= [1, 2, 3
]

In [5]:
a

   Real_age  Predict_age  LOSS
0         1            2     3